$~$

# IT Academy - Data Science Itinerary



$~$

$~$

In this project we are going to use 3 of the most used libraries to do web scraping: **Beautifulsoup**, **Selenium** and **Scrapy**.

$~$

*This project is divided into three parts, in the first two we are going to use beatifulsoup and selenium to extract information from the Madrid Stock Exchange website. The intention is to test each of these libraries for the same task and see how efficient they are.*

$~$

*In the third part we are going to use the scrapy library to obtain 190 articles from the website of the newspaper El Pais (English version).*

$~$

## S12 T12: Web Scraping
___

In [1]:
#importing libraries

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
from bs4 import BeautifulSoup



from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.common.exceptions import TimeoutException
from time import sleep


import scrapy
from scrapy.crawler import CrawlerProcess
import os

import warnings
warnings.filterwarnings("ignore")

$~$
___
####  Exercise 1

$~$

Scrape a page on the [Madrid Stock Exchange](https://www.bolsamadrid.es) using BeautifulSoup and Selenium.

$~$
___

$~$

In this first part of the project we are going to scrap the website of the Madrid Stock Exchange. Specifically we are going to extract the information of the [prices of the session](https://www.bolsamadrid.es/ing/aspx/Mercados/Precios.aspx?indice=ESI100000000) of the day. We want to store this information in a Pandas dataframe. For do it we are going to use two libraries: First using the **Beautifulsoup** library, then  using the **Selemiun library**.

$~$

In the following image we will see the **keys** we have used to carry out the exercise, on the one hand, the **table id** and on the other the **"X_Path"** of the table. From this information we have been able to obtain all the information from the table

$~$

+ note here the **Id** and **X_path** we are going to use to scrap the table
<img src="image.png" alt="alt_text" align="center" width="650" height="320" />

[](./image.png)

In [2]:
#define the url to scrap
url = "https://www.bolsamadrid.es/ing/aspx/Mercados/Precios.aspx?indice=ESI100000000"

$~$

+ Scraping using BeatifulSoup:

$~$

In [3]:
#request the url 
web = requests.get(url)
#init soup 
soup = BeautifulSoup(web.content,"html.parser")
#find the table we want to scrap
tables = soup.findChildren("table", { "id" :"ctl00_Contenido_tblAcciones" })
#limit table
my_table = tables[0]
#find rows in the table
rows = my_table.findChildren(['tbody', 'tr'])
#find names of the columns:
names = my_table.findChildren(['tbody', 'th'])
#keep columns names
columns_name = []

for name in names:
    columns_name.append(name.text)

#define empy dataframe with columns_names
df1 = pd.DataFrame(columns=columns_name)

#add values to our dataset
for row in rows:
    cols = []
    for x in row.findAll("td"):  
      cols.append(x.text)
    if len(cols)!=0:
      df1.loc[len(df1.index)] = cols
#show the table
display(df1)

#save to cvs
df1.to_csv('data1.csv')

,Name,Last,% Dif.,High,Low,Volume,Turnover (€ Thousands),Date,Time
0,ACCIONA,189.2000,-0.16,190.0000,187.4000,"20,137","3,808.69",07/06/2022,12:25:10
1,ACERINOX,11.6800,-0.34,11.7600,11.6050,"823,017","9,619.55",07/06/2022,12:25:15
2,ACS,26.7900,-0.22,26.9100,26.6600,"144,000","3,862.44",07/06/2022,12:24:38
3,AENA,141.6000,-0.32,142.1000,141.3500,"20,318","2,879.65",07/06/2022,12:24:57
4,ALMIRALL,10.3900,0.39,10.8200,10.3600,"403,502","4,256.16",07/06/2022,12:21:42
5,AMADEUS,57.2000,-0.97,57.6400,56.7800,"84,981","4,863.99",07/06/2022,12:24:53
6,ARCELORMIT.,30.6950,-0.34,30.8150,30.4500,"79,819","2,443.79",07/06/2022,12:25:05
7,B.SANTANDER,3.0150,-0.76,3.0420,3.0090,"5,023,780","15,185.24",07/06/2022,12:25:17
8,BA.SABADELL,0.8510,0.07,0.8560,0.8452,"7,015,644","5,970.51",07/06/2022,12:25:06
9,BANKINTER,5.9320,-0.07,5.9640,5.9100,"319,594","1,899.05",07/06/2022,12:25:06
10,BBVA,5.0700,-0.67,5.1070,5.0630,"1,377,096","7,003.15",07/06/2022,12:25:06
11,CAIXABANK,3.4720,0.26,3.4930,3.4350,"5,227,626","18,176.22",07/06/2022,12:25:03
12,CELLNEX,41.6500,-0.10,41.7900,41.2000,"103,162","4,279.20",07/06/2022,12:25:01
13,CIE AUTOMOT.,24.6400,0.90,24.7600,24.2800,"63,828","1,569.42",07/06/2022,12:23:14
14,ENAGAS,22.0200,1.47,22.0600,21.6400,"197,521","4,328.12",07/06/2022,12:24:45
15,ENDESA,20.8000,0.63,20.8400,20.5300,"187,176","3,879.64",07/06/2022,12:25:06
16,FERROVIAL,25.0900,0.97,25.2400,24.8500,"227,616","5,716.42",07/06/2022,12:25:07
17,FLUIDRA,24.8800,-0.88,25.2200,24.7600,"110,688","2,759.17",07/06/2022,12:25:16
18,GRIFOLS CL.A,18.9250,-0.97,19.1000,18.8350,"134,784","2,556.24",07/06/2022,12:25:11
19,IAG,1.4540,-1.46,1.4830,1.4500,"8,114,181","11,878.24",07/06/2022,12:25:01
20,IBERDROLA,10.8600,-0.37,10.9600,10.8150,"4,950,247","53,706.68",07/06/2022,12:25:15
21,INDITEX,22.0000,0.00,22.0500,21.8000,"1,013,878","22,248.44",07/06/2022,12:25:09
22,INDRA A,10.6600,-0.56,10.7100,10.6000,"132,462","1,412.26",07/06/2022,12:21:07
23,INM.COLONIAL,7.5850,1.47,7.6200,7.4350,"208,701","1,575.78",07/06/2022,12:24:15
24,MAPFRE,1.7560,0.23,1.7720,1.7530,"2,436,838","4,305.47",07/06/2022,12:21:35
25,MELIA HOTELS,7.6200,1.40,7.6700,7.5300,"237,370","1,806.83",07/06/2022,12:23:32
26,MERLIN,10.5400,0.00,10.5900,10.5200,"186,757","1,972.88",07/06/2022,12:23:52
27,NATURGY,28.4600,0.42,28.5600,28.0900,"47,586","1,352.59",07/06/2022,12:23:49
28,PHARMA MAR,69.2800,-1.84,70.4000,69.1600,"25,092","1,743.68",07/06/2022,12:23:58
29,R.E.C.,19.1100,0.45,19.1600,18.9550,"133,476","2,544.16",07/06/2022,12:24:55
30,REPSOL,15.8800,3.02,16.0450,15.3900,"2,760,539","43,345.48",07/06/2022,12:24:57
31,ROVI,60.0000,-0.99,60.5000,59.8000,"27,131","1,631.34",07/06/2022,12:18:50
32,SIEMENS GAME,18.0250,-0.06,18.0500,18.0050,"1,549,486","27,936.40",07/06/2022,12:25:02
33,SOLARIA,22.7700,2.71,22.8200,22.0900,"182,454","4,110.71",07/06/2022,12:24:25
34,TELEFONICA,4.6380,-0.94,4.6750,4.6250,"2,346,281","10,892.69",07/06/2022,12:25:18

$~$

+ Scraping using Selenium:

$~$

In [4]:
#rows X_path
row_Xpath = '//*[@id="ctl00_Contenido_tblAcciones"]/tbody/tr'

#header X_path
header_X_path = '//*[@id="ctl00_Contenido_tblAcciones"]/tbody/tr[1]/th'


# configure webdriver
options = webdriver.FirefoxOptions()
options.headless = True  # hide GUI
# set window size to native GUI size
options.add_argument("--window-size=1920,1080")
options.add_argument("start-maximized")

# get method to launch the URL
driver = webdriver.Firefox(options=options)
driver.get(url)


# to keep columns names
columns_name = []

#keep columns names
for name in driver.find_elements(by=By.XPATH, value=header_X_path):
    columns_name.append(name.text)

#define empy dataframe with columns_names
df = pd.DataFrame(columns=columns_name)

# #keep rows
for x in driver.find_elements(by=By.XPATH, value=row_Xpath):
    rows = x.find_elements_by_tag_name('td')
    data = []
    for row in rows:
        data.append(row.text)
    if len(data) != 0:
      df.loc[len(df.index)] = data

#to close the browser
driver.close()

#show the table
display(df)

#save to cvs
df.to_csv('data2.csv')

,Name,Last,% Dif.,High,Low,Volume,Turnover (€ Thousands),Date,Time
0,ACCIONA,189.2000,-0.16,190.0000,187.4000,"20,137","3,808.69",07/06/2022,12:25:10
1,ACERINOX,11.6800,-0.34,11.7600,11.6050,"823,017","9,619.55",07/06/2022,12:25:15
2,ACS,26.7900,-0.22,26.9100,26.6600,"144,000","3,862.44",07/06/2022,12:24:38
3,AENA,141.6000,-0.32,142.1000,141.3500,"20,318","2,879.65",07/06/2022,12:24:57
4,ALMIRALL,10.3900,0.39,10.8200,10.3600,"403,502","4,256.16",07/06/2022,12:21:42
5,AMADEUS,57.2000,-0.97,57.6400,56.7800,"84,981","4,863.99",07/06/2022,12:24:53
6,ARCELORMIT.,30.6950,-0.34,30.8150,30.4500,"79,819","2,443.79",07/06/2022,12:25:05
7,B.SANTANDER,3.0150,-0.76,3.0420,3.0090,"5,023,780","15,185.24",07/06/2022,12:25:17
8,BA.SABADELL,0.8510,0.07,0.8560,0.8452,"7,015,644","5,970.51",07/06/2022,12:25:06
9,BANKINTER,5.9320,-0.07,5.9640,5.9100,"319,594","1,899.05",07/06/2022,12:25:06
10,BBVA,5.0700,-0.67,5.1070,5.0630,"1,377,096","7,003.15",07/06/2022,12:25:06
11,CAIXABANK,3.4720,0.26,3.4930,3.4350,"5,227,626","18,176.22",07/06/2022,12:25:03
12,CELLNEX,41.6500,-0.10,41.7900,41.2000,"103,162","4,279.20",07/06/2022,12:25:01
13,CIE AUTOMOT.,24.6400,0.90,24.7600,24.2800,"63,828","1,569.42",07/06/2022,12:23:14
14,ENAGAS,22.0200,1.47,22.0600,21.6400,"197,521","4,328.12",07/06/2022,12:24:45
15,ENDESA,20.8000,0.63,20.8400,20.5300,"187,176","3,879.64",07/06/2022,12:25:06
16,FERROVIAL,25.0900,0.97,25.2400,24.8500,"227,616","5,716.42",07/06/2022,12:25:07
17,FLUIDRA,24.8800,-0.88,25.2200,24.7600,"110,688","2,759.17",07/06/2022,12:25:16
18,GRIFOLS CL.A,18.9250,-0.97,19.1000,18.8350,"134,784","2,556.24",07/06/2022,12:25:11
19,IAG,1.4540,-1.46,1.4830,1.4500,"8,114,181","11,878.24",07/06/2022,12:25:01
20,IBERDROLA,10.8600,-0.37,10.9600,10.8150,"4,950,247","53,706.68",07/06/2022,12:25:15
21,INDITEX,22.0000,0.00,22.0500,21.8000,"1,013,878","22,248.44",07/06/2022,12:25:09
22,INDRA A,10.6600,-0.56,10.7100,10.6000,"132,462","1,412.26",07/06/2022,12:21:07
23,INM.COLONIAL,7.5850,1.47,7.6200,7.4350,"208,701","1,575.78",07/06/2022,12:24:15
24,MAPFRE,1.7560,0.23,1.7720,1.7530,"2,436,838","4,305.47",07/06/2022,12:21:35
25,MELIA HOTELS,7.6200,1.40,7.6700,7.5300,"237,370","1,806.83",07/06/2022,12:23:32
26,MERLIN,10.5400,0.00,10.5900,10.5200,"186,757","1,972.88",07/06/2022,12:23:52
27,NATURGY,28.4600,0.42,28.5600,28.0900,"47,586","1,352.59",07/06/2022,12:23:49
28,PHARMA MAR,69.2800,-1.84,70.4000,69.1600,"25,092","1,743.68",07/06/2022,12:23:58
29,R.E.C.,19.1100,0.45,19.1600,18.9550,"133,476","2,544.16",07/06/2022,12:24:55
30,REPSOL,15.8800,3.02,16.0450,15.3900,"2,760,539","43,345.48",07/06/2022,12:24:57
31,ROVI,60.0000,-0.99,60.5000,59.8000,"27,131","1,631.34",07/06/2022,12:18:50
32,SIEMENS GAME,18.0250,-0.06,18.0500,18.0050,"1,549,486","27,936.40",07/06/2022,12:25:02
33,SOLARIA,22.7700,2.71,22.8200,22.0900,"182,454","4,110.71",07/06/2022,12:24:25
34,TELEFONICA,4.6380,-0.94,4.6750,4.6250,"2,346,281","10,892.69",07/06/2022,12:25:18

$~$
___
####  Exercise 2

$~$

Document in a word your data set generated with the information that the different Kaggle files have.


$~$
___

**IBEX 35 prices**.

The IBEX 35 (Spanish Stock Market Index) is the reference stock market index of the Madrid Stock Exchange and is made up of 35 companies. This dataset contains the share prices of IBEX35 companies. The data has been collected from The Madrid stock exchange  website on 31/05/2022 at 19:05 p.m.

Contents

The categories of this dataset:
+  Name: Company name.
+ Last: Last recorded price
+ % Diff.: Difference between the last registered price and the current one in %-
+ Maximum: Maximum price reached.
+ Minimum: Minimum price reached.
+ Volume: Total shares.
+ Cash: Total share capital (thousand €):
+ Date: Date of registration.

Prices expressed in euros. Cash expressed in thousands of euros. The volume and cash for each security includes all operations carried out until the close of the trading session.

$~$
___
####  Exercise 3

$~$

Choose a web page you want and do web scraping using the Scrapy library

$~$
___

$~$

For this part, we are going to collect the last 195 press articles from the newspaper **El Pais* ([its version in English](https://english.elpais.com/)), specifically from the economy section.

$~$

Of the articles we are going to save :
$~$

+   **url** = the link (where you can find the article)
+   **date**= the date the article was published
+   **author** = name of the journalist who wrote the article
+ **art_text** = full text of the article.

$~$

In [5]:
class ArticleSpider(scrapy.Spider):
    name = "articles"
    
 
    start_urls = ['https://english.elpais.com/economy-and-business/' ]

    def parse(self, response):
        author_page_links = response.xpath("//header/h2/a/@href")
        yield from response.follow_all(author_page_links, self.parse_author)

        pagination_links = "https://english.elpais.com/" + response.xpath("/html/body/div/main/div/div/a/@href").get()
        yield from response.follow_all(pagination_links, self.parse)

    def parse_author(self, response):
        def extract_with_css(query):
            return response.xpath(query).get(default='').strip()
        def extract_all(query):
            return response.xpath(query).getall()

        yield {
            'url': response.url,
            'date': extract_with_css('//*[@id="article_date_p"]/text()'),
            'title': extract_with_css('//header/div/h1/text()'),
            'author': extract_with_css('/html/body/div/article/div/div/div/a/text()'),
            'text_art': extract_all('/html/body/div/article/div/p/text()'),
        }
FILE_NAME = 'data.csv'
SETTINGS = {
            'FEED_FORMAT': 'csv',
            'FEED_URI': FILE_NAME,
            'DOWNLOAD_DELAY': 1,
            }

In [ ]:
process = CrawlerProcess(SETTINGS)
process.crawl(ArticleSpider) 
process.start()

In [7]:
df=pd.read_csv('data.csv')
df.shape

(297, 5)

In [8]:
df.sort_values(by="date").head()

,url,date,tittle,author,text_art
44,https://english.elpais.com/culture/2022-06-01/...,01 Jun 2022,Johnny Depp vs Amber Heard: The form the jury ...,Miguel Jiménez,"The contentious , is now in the hands of the j..."
52,https://english.elpais.com/science-tech/2022-0...,01 Jun 2022,Microbe study sheds light on a critical step i...,Nuño Domínguez,A research study on a microscopic microbe foun...
53,https://english.elpais.com/international/2022-...,01 Jun 2022,"Colombia’s Trump, Rodolfo Hernández: ‘Ideally,...",Sally Palomino,Rodolfo Hernández cannot hide his sexism. In a...
54,https://english.elpais.com/international/2022-...,01 Jun 2022,Resistance on rails: How Ukraine’s biggest emp...,Luis de Vega (Enviado Especial),"Ukraine’s national railway company, Ukrzalizni..."
218,https://english.elpais.com/international/2022-...,01 Jun 2022,Resistance on rails: How Ukraine’s biggest emp...,Luis de Vega (Enviado Especial),"Ukraine’s national railway company, Ukrzalizni..."

$~$

+ we print an article to see the result of the extraction:

$~$

In [10]:
print(df["tittle"][44])
print("-"*10)
print(df["text_art"][44])

Johnny Depp vs Amber Heard: The form the jury will use to reach its verdict
----------
The contentious , is now in the hands of the jury. The seven-member panel heard the closing arguments on May 27, and met to deliberate for the first time. Since then, it has concluded two days of deliberations without reaching a decision. The jury will resume deliberations on Wednesday morning, but no one knows how long it will take the jury to reach a verdict.,As the end of the trial draws near, people have been waiting in huge lines and even camping overnight outside the courthouse to secure a seat in one of the most-talked-about cases in recent history. It is not a criminal case; the jury will not rule on the allegations of abuse and assault that have been raised in the trial. Instead, they will focus on the subject of the lawsuit: defamation.,Depp is suing Heard for $50 million for defaming him in an ,in 2018, in which she described herself as “a public figure representing domestic abuse.” Although Depp is not mentioned by name, he argues that it was obvious who she was referring to. Heard responded to Depp’s complaint by countersuing him for $100 million, claiming that his lawyer smeared her by calling her a liar. While Heard maintains that Depp , and even sexually assaulted her with a bottle, the actor says he , and was, in fact, the victim in the relationship.,To help the jury reach a verdict, the judge has provided the jurors with a special form, ,. The form does not include the words “guilty” or “innocent,” since the jury has not been asked to judge a crime. They must decide whether either the actor or actress has been defamed by the other.,If they rule that Heard defamed Depp and/or that Depp defamed Heard, they must decide on how much compensatory and punitive damages to award.,With respect to Depp’s claim, the jury must decide if three specific statements in Heard’s ,op-ed were defamatory:,- “I spoke up against sexual violence – and faced our culture’s wrath. That has to change.”,- “Then two years ago, I became a public figure representing domestic abuse, and I felt the full force of our culture’s wrath for women who speak out.”,- “I had the rare vantage point of seeing, in real time, how institutions protect men accused of abuse.”,With respect to Heard’s claim, the lawsuit focuses on statements made by Depp’s former lawyer Adam Waldman in ,Although the comments were not made by the actor, Heard argues that he said them on his behalf. The actress’s lawyer also made clear that she is not seeking $100 million in compensation, and only set that amount to send a message to her ex-husband.,In her case, the jury is asked if the following statements were defamatory:,- “Amber Heard and her friends in the media use fake sexual violence allegations as both a sword and a shield, depending on their needs. They have selected some of her sexual violence hoax ‘facts’ as the sword, inflicting them on the public and Mr. Depp.”,- “Quite simply this was an ambush, a hoax. They set Mr. Depp up by calling the cops but the first attempt didn’t do the trick. The officers came to the penthouses, thoroughly searched and interviewed, and left after seeing no damage to face or property. So Amber and her friends spilled a little wine and roughed the place up, got their stories straight under the direction of a lawyer and publicists, and then placed a second call to 911.”,- ”[W]e have reached the beginning of the end of Ms. Heard’s abuse hoax against Johnny Depp.”,For each of the six statements, the jurors are asked a series of “yes or no” questions to determine whether all the elements of defamation have been proven, such as “The statement was false” and “The defamation implication was designed and intended.” If “yes” has been answered to all questions, the jury must set an amount for compensatory and punitive damages.,On the final day of the trial, Depp’s lawyers asked the jury to assess Heard’s credibility, arguing the actress was the real abuser in the relationship. Meanwhile Heard’s lawyers claimed her statements were protected by freedom of expression, which is enshrined in the First Amendment of the United States Constitution. They argued that even if the jury did not believe the actress was a victim of,, if they found evidence of psychological or financial abuse, she would be protected by freedom of expression. The case is now in the hands of the jury.,The ruling, however, can be appealed. The case is being heard in Fairfax County District court in Virginia. This location has been chosen because , is printed there and because the newspaper also has its digital servers in the town. But some lawyers have questioned Fairfax’s jurisdiction, given that both Heard and Depp are based in California. While it does not seem likely, the possibility of a new Depp vs Heard trial being heard in the next few years cannot be ruled out.

$~$
___
####  Conclusions

$~$




___
$~$

+ There are different libraries that we use to scrape websites. Here, we have reviewed 3 of the most common ones. (**BeautifulSoup, Selenium, Scrapy**)

+ For the use of these libraries they require a minimum previous knowledge of HTML

+ We have achieved the same result using **Beautifulsoup** and **Selenium**, however, the **Beautifulsoup** library has been more efficient since its handling (and learning curve) make it a more user-friendly tool.

+ The articles that we have obtained could serve us as data for any **NLP** project

___
$~$

####  *References*:

+ [Beautiful Soup: Build a Web Scraper With Python](https://realpython.com/beautiful-soup-web-scraper-python/) 
+ [Selenium Example Explained](https://selenium-python.readthedocs.io/getting-started.html#simple-usage) 
+ [Learn Scrapy](https://www.tutorialspoint.com/scrapy/index.htm) 

$~$
___